<section id="loginSignup">
    <div class="loginSignup">
        <h2>Log In</h2>
        <form class="login-form">
            <label for="user-name-login">Username:</label><br>
            <input type="text" id="user-name-login"><br>
            <label for="password-login">Password:</label><br>
            <input type="password" id="password-login">
        </form>
        <button type="submit" id="loginBtn"><h2>Submit</h2></button><br>
    </div>

    <div class="vertical-line1"></div>

    <div class="loginSignup">
        <h2>Sign Up</h2>
        <form class="signup-form">
            <label for="user-name-signup">Username:</label><br>
            <input type="text" id="user-name-signup"><br>
            <label for="password-signup">Password:</label><br>
            <input type="password" id="password-signup">
        </form>
        <button type="submit" id="signupBtn"><h2>Submit</h2></button><br>
    </div>
</section>
<script src="/js/login.js"></script>