:root {
    --purple: rgb(105, 70, 162);
    --white: rgb(213, 197, 216);
  }

body {
    margin: 0px;
    background-color: var(--purple);
}

h1, h2, h3, h4, h6 {
    margin: 0;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
    background-color: var(--white);
}

h1 {
    color: var(--white);
    background-color: var(--purple);
    margin-bottom: 50px ;
    margin-left: 60px ;
    padding: 5px;
    border-radius: 25px ;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    width: 500px ;
}

li {
    margin: 25px ;
    text-decoration: underline;
    color: var(--purple);
    font-size: larger;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dashUser {
    color: var(--white);
    margin-top: 15px;
}

.post {
    width: 700px ;
    margin-top: 30px;
    margin-bottom: 30px;
    border: solid;
    border-width: 2px;
    border-color: var(--white);
    color: var(--white);
}


.postTitle {
    padding-top: 8px ;
    padding-bottom: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white);
    color: var(--purple);
    width: 700px;
}

.postTitle h4, h6 {
    margin-left: 15px;
    margin-right: 15px;
}

.postContent {
    color: var(--white);
    margin: 8px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
a {
    color: var(--blue);
}

#loginSignup {

    background-color: var(--white);
    border-radius: 10px;
    height: 400px;
    width: 750px ;
    color: whitesmoke;
    display: flex ;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}

.loginSignup {
    width: 250px;
    background-color: var(--purple);
    height: 275px;
    display: flex;
    flex-direction: column ;
    justify-content: center;
    align-items: center ;
}

.vertical-line1 {
    width: 1px;
    background-color: var(--purple);
    height: 275px;
}

input {
    margin-bottom: 10px;
    margin-top: 10px;
}

form {
    padding: 10px ;
    margin-top: 20px ;
}

textarea {
    width: 700px;
}

.hide {
    display: none;
}

